body{
    background-color: rgb(80, 80, 155);

}
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.intro{
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.intro #a a {
    color: black;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 15px;
}
.email{
    display: flex;
    align-items: center;  
    background-color: rgb(98, 98, 172);
    border-radius: 15px;
    overflow: hidden;

}
#emailtxt{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.email img{
    position: relative;
    top: 20px;
}

.bank{
    display: flex;
    align-items: center;  
    background-color: rgb(98, 98, 172);
    border-radius: 15px; 
    min-height: 2px; 
    overflow: hidden;
}
#banktxt{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.bank img{
    position: relative;
    top: 35px;
    width:130px;   
    height: 130px;  
    align-self:baseline;
}
.aboutyou{
    display: flex;
    align-items: center;  
    background-color: rgb(98, 98, 172);
    border-radius: 15px; 
    overflow: hidden;
}
.aboutyou #txt{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.aboutyou img{
    width:115px;   
    height: 110px;  
    position: relative;
    top: 25px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
     padding: 10px;
     gap: 15px;
}

